/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-colour);
  color: var(--font-colour);
}

:root {
  --bg-colour: #f7f4f0;
  --font-colour: #27187e;
  --light-accent-colour: #c7d3dd;
  --bold-accent-colour: #faa916;
  --link-colour: #c7d3dd;
}

section {
  min-height: 95vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.projects-title,
.contact-title {
  margin-top: 5rem;
}

/* Header */
.name {
  font-size: 3rem;
  font-weight: 100;
  font-family: "Playfair Display", serif;
}

.topnav {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 0.25rem var(--font-colour) solid;
  margin-top: 1.5rem;
}

.header__link {
  margin: 0 2rem;
  font-size: 1.5rem;
  text-decoration: none;
}

/* About Me  */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__text {
  margin-top: 5rem;
  width: 75vw;
  max-width: 700px;
  text-align: justify;
}

/* Tech Stack  */
.tech-stack {
  margin-top: 5rem;
}

.tech-stack__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-stack__list-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-stack__list-item svg {
  fill: var(--bold-accent-colour);
  height: 3rem;
}

.tech-stack__list-item p {
  font-weight: 600;
}

/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 1rem;
  padding: 0.5rem;
  /* max-width: 400px; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-accent-colour);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-img__image {
  width: 100%;
  /* max-width: 225px; */
  height: auto;
  border-radius: 5px;
}

.project-name {
  text-decoration: none;
}

.project-role {
  margin: 0.5rem 0;
}
.project-stack {
  font-size: 0.75rem;
}

.project-stack a {
  font-weight: 600;
  text-decoration: none;
  margin: 0.5rem 0;
}

.project-information {
  text-align: justify;
}

/* Contact info */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.contact-cv {
  margin-top: 1rem;
}

/*Footer */
.footer {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  position: fixed;
  border-top: 0.05rem var(--font-colour) solid;
}

.footer__link svg {
  height: 2rem;
  margin: 0 2rem;
  fill: var(--bold-accent-colour);
}

@media only screen and (min-width: 600px) {
  .topnav {
    flex-direction: row;
  }

  .project {
    max-width: 400px;
    width: 40%;
  }
}
